@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1024px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactForm span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactForm span:nth-of-type(2) {
  margin: 0 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media (max-width: 480px) {
  .contactForm span:nth-of-type(2) {
    margin: 0;
  }
}

.contactForm label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 120%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  margin: 20px 0 5px 0;
}

.contactForm input, .contactForm textarea {
  padding: 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.contactForm input:focus, .contactForm textarea:focus {
  border: 2px solid #44CCFF;
}

.contactForm textarea {
  min-height: 150px;
  min-width: 300px;
  resize: none;
}

.contactForm button[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 125%;
  font-family: "Nunito Sans", sans-serif;
  margin-top: 25px;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  color: #fcfcfc;
  border: 0;
  background: #00b3f7;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.contactForm button:hover[type=submit], .contactForm button:hover[type=submit] {
  background: #44CCFF;
}

@media (max-width: 1024px) {
  .contactForm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
  }
  .contactForm span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .contactForm input {
    width: 100%;
  }
  .contactForm textarea {
    width: 100%;
  }
  .contactForm button[type=submit] {
    padding: 15px 20px;
  }
}

.googleMaps {
  width: 35%;
  margin: 0 35px;
  margin-top: 25px;
  aspect-ratio: 1 / 1;
  outline: 0;
}

@media (max-width: 1024px) {
  .googleMaps {
    margin: 35px 0;
    width: 75%;
    aspect-ratio: 4 / 3;
    outline: 0;
  }
}

@media (max-width: 480px) {
  .googleMaps {
    width: 100%;
    aspect-ratio: 4 / 3;
    outline: 0;
  }
}
/*# sourceMappingURL=contact.module.css.map */