@import "./_variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: $head;
  font-weight: 700;
  font-size: 24px;
}

h1 {font-family: $head; font-weight: 700; font-size: 52px;}
@media (max-width: $tablet-bp) {
  a {font-size: 21px}
  h1 {font-size: 42px}
}
@media (max-width: $mobile-bp) {
  a {font-size: 18px}
  h1 {font-size: 32px}
}

.upperDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  // border: 1px solid red; //debug
  button.inactive {
    opacity: 0;
    cursor: default;
    z-index: -10;
  }
  button {
    display: inline;
    cursor: pointer;
    padding: 5px 10px;
    background: 0;
    border: 0;
    font-family: $head;
    font-size: 24px;
    font-weight: 700;
    z-index: 10;
    // border: 1px solid green; //debug
  }
  h1 {
    font-weight: 800;
    justify-self: center;
    width: 100%;
  }
}

@media (max-width: $mobile-bp) {
  .upperDiv {
    button {
      font-size: 21px;
    }
  }
}

// react image gallery
.image-gallery {
  max-width: 100%;
  // border: 1px solid red; //debug
  animation-name: image-gallery;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 1200ms;
}
@keyframes image-gallery {
  0% {opacity: 0; width: 0;}
  100% {opacity: 1; width: 100%;}
}