@import "./_variables.scss";

// margins
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    min-height: 100vh; //debug
    // border: 1px solid red; //debug
    main {
        width: 100%;
        padding: 7.5vh 0;
    }
}
@media (min-width: $ultrawide-bp) {
    //ultrawide container size
    .container {
        width: 1440px;
        max-width: 1440px;
        // border: 1px solid green; //debug

    }
}
@media (min-width: $desktop-bp) {
    //widescreen container size
    .container {
        width: 1280px;
        max-width: 1280px;
        padding: 0 10%;
        // border: 1px solid blue; //debug
        // background: orange; //debug
    }
}
@media (max-width: $tablet-bp) {
    //ultrawide container size
    .container {
        width: 640px;
        max-width: 640px;
        // border: 1px solid orange; //debug
    }
}
@media (max-width: $mobile-bp) {
    //ultrawide container size
    .container {
        width: 337.5px;
        max-width: 337.5px;
        // border: 1px solid purple; //debug
    }
}