@import "./_variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    // paddi    ng: 0 4.25vw;
    padding-top: 7.5vh;
    max-height: 100px;
    .logoLink {
        min-width: 20% !important;
        width: 20%;
        img {
            margin: 0 !important;
            
            // width: 20vw;
            // object-fit: contain;
            border: 1px solid red; //debug
        }
    }
    nav {
        a {
            margin: 0 1.1rem;
            transition: .2s color ease-in;
        }
        a:hover {
            color: darken($ysdw-blue, 25%);
        }
    }
}
@media (max-width: $tablet-bp) {
    .navbar {
        padding: 0;
        padding-top: 10vh;
        .logoLink {
            width: 35%;
        }
    }
}
@media (max-width: $mobile-bp) {
    .navbar {
        .logoLink {
            width: 40%;
        }
        nav {
            a {
                margin: 0 .5rem;
            }

        }
    }
}